.row.mt-5
  .container.box
    .row.m-auto.justify-content-between
      h1(translate) FIRE_OVERVIEW.TITLE
      button.btn.btn-link.btn-text(translate) FIRE_OVERVIEW.REPORT_FIRE
    // it's temporary input - there will be table or sth similar
    input.w-100(type="number")
