$fire-primary-blue: #003366;
$fire-blue: #008baa;
$fire-red: #c40011;
$fire-light-red: #db0114;

$fire-required: #fd495c;
$fire-shadow: rgba(0, 51, 102, 0.6);
$fire-box-background: #eff8fc;
$fire-background: #e6f7fc;
$fire-lighter-background: #e6f2fa;

$modal-header-height: 7.15rem;
$modal-header-background: #f0f8fc;

$border-radius: .35rem;
$black: #000000;
$grey: #c1c1c1;
$white: #fff;

@import "bootstrap/overrides";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
