@import "shared";
@import "mixins";
@import "bootstrap/overrides";
@import "bootstrap/bootstrap";

@import '~ngx-toastr/toastr-bs4-alert';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

html {
  min-height: 100%;
  font-size: 10px;
}

body {
  background-color: $fire-background;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

h1 {
  line-height: 25px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 1.25rem;
    margin-bottom: 0.25rem;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 0.9rem;
  }
}

.validation-error {
  color: $fire-required;
  font-size: 50%;
}

.required::after {
  content: '*';
  color: $fire-required;
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  z-index: 10;
}

.btn-text {
  padding: 1rem;
  color: $fire-primary-blue;
  background-color: $fire-red;
  border: 0.05rem solid $fire-red;
  border-radius: 4px;

  cursor: pointer;

  font-size: 1.5rem;
  font-weight: bold;

  &.btn {
    text-decoration: none;

    &:hover {
      color: $fire-primary-blue;
      background-color: $fire-light-red;
    }
}
}

.box {
  @include box()
}
