@import "bootstrap/overrides";
@import "bootstrap/bootstrap";
@import "shared";

@mixin box {
  background: $fire-box-background;
  padding: 10px;
  box-shadow: 0 0 40px $fire-shadow;
  margin-bottom: 24px;
  border-radius: 10px;
}
