@import "~styles/shared";

nav {
  background-color: $fire-blue;
}

a, label {
  color: white !important;
  font-size: 1.5rem;
}

.nav-item {
  transition: all .3s;
}

.user-icon {
  background-color: white;
  border-radius: 50%;

  width: 25px;
  height: 25px;
}

.dropdown-toggle::after {
  display: none;
}



