.container-fluid.modal-container
  button.btn.button-modal-close(type = "button", (click) = "cancel()")
    i.fas.fa-times

  .modal-header
    .modal-header-text-centered
      h2(translate) REPORT_FIRE.CONFIRM_REPORT_FIRE_TITLE

  .modal-content
    .row.align-items-center
      .modal-body(style="padding: 0 15px;")
        h4(translate) REPORT_FIRE.CONFIRM_REPORT_FIRE

      .row.justify-content-between(style="padding: 0 70px;")
        button.btn.btn-link.btn-cancel(type="button", (click)="cancel()", translate) ALL.NO
        button.btn.btn-link.btn-text(type="submit", (click)="onSubmit()", translate) ALL.YES
