.map-content {
  margin: 1rem;
  height: 100%;
  min-height: 100px;
  width: 100%;
  min-width: 100px;

  .map-container {
    height: 100%;
    min-height: 100px;
    width: 100%;
    min-width: 100px;
  }

  agm-map {
    height: 300px;
  }
}
